.body{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Urbanist', sans-serif;
    width: 100%;
    margin: 0 auto;
    background-color: black;
}

h1,h2,h3.h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 5px;
}

.container{
    max-width: 1400px;
    padding: 20px 20px;
}

.wrapper{
    display: flex;
    justify-content: space-between;
}

.main-img {
    border-radius: 0 60px 60px 0;
    width: auto;
    height: auto;
}

.reg-form {
    border-radius: 60px 0  0 60px ;
    background: #FFF;
    padding:45px 16px 150px 54px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: block;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 115px;
    gap: 6px;
    border-radius: 30px;
    background-color: #FFF;
    border: 1px solid #D2D2D2;
}

.btn-text{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.btn-text:hover{
    text-decoration: underline;
}

.reg-block {
    margin: 118px 110px 0;
    display: block;
}

.reg-title {
    color: #000;
    font-family: Bebas Neue;
    font-size: 68px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.reg-subtitle {
    margin-bottom: 50px;
    color: #000;
    font-family: Urbanist;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.btn2 {
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content:center;
    gap: 12px;
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    background-color: #FFF;
    width: 418px;
    height: 52px;
}

.btn-text.b2{
    color: #2E2E2E;
}


.or {
    width: 100%;
    margin-bottom: 40px;
    color: #AFA8A8;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    text-align: center;       
}

.or:after {
    display: inline-block;
    margin: 5px 0 5px 16px;
    height: 1px;
    content: " ";
    text-shadow: none;
    background: #AFA8A8;
    width: 60px;
}

.or:before {
    display: inline-block;
    margin: 5px 16px 5px 0;
    height: 1px;
    content: " ";
    text-shadow: none;
    background: #AFA8A8;
    width: 60px;
} 

.form {
    margin-bottom:24px;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}

.form-group {
    position: relative;
    width: 420px;
    height: 52px;
}

.input {
    width: 387px;
    padding: 16px;
    outline: 0;
    border: 0;
    color: #2E2E2E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
    border: 1px solid #D2D2D2;
    background-color: transparent;
}

.input:focus +.label {
    transform: translateY(-40px);
    font-size: 14px;
    color: #d2d2d2;
}

.input:not(:placeholder-shown) +.label {
    transform: translateY(-40px);
    font-size: 14px;
}

.label {
    color: #2E2E2E;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    top: 20px;
    left: 20px;
    pointer-events: none;
    transition: all ease 1s;

}

.rememberMe{
    color: #000;
    font-family: Cabin;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

.btn3 {
    margin-top: 26px;
    margin-bottom:40px;
    display: block;
    width: 420px;
    height: 50px;
    border-radius: 30px;
    background: #000;
    display: inline-flex;
    align-items: center;
    justify-content:center;
}
.btn-text.b3{
    width: 420px;
    color: #FFF;
    text-align: center;
    font-weight: 500;
    transition: all .4s ease;
}
.btn-text.b3:hover{
    font-size: 16.5px;
    color: #fcd793;
    text-decoration: none;
    transition: all .4s ease;
}

.text {
    color: #000;
    text-align: center;
    font-family: Urbanist;
    font-size: 16px;
    font-weight: 400;
}

.log-link {
    color: #FEC00F;
    font-weight: 600;
    text-decoration: none;
}
.log-link:hover{
    text-decoration: underline;
}

.forgot-password{
    text-decoration: none;
    color: #AFA8A8;
    text-align: center;
    font-family: Urbanist;
    font-size: 14px;
    font-weight: 400;
}
.forgot-password:hover{
    text-decoration: underline;
}
